.homepage {
  width: 100%;
  height: 100%;
  background-image: url("../Images/bgImg5.jpg");
  position: absolute;
}

.welcome-section {
  width: 100%;
  height: 30%;
  float: left;
  font-weight: 900;
  font-size: 6vw;
  color: white;
  padding-top: 50px;
  margin-left: 2%;
}

.moving-clouds {
  width: 100%;
  height: 50%;
  float: left;
  /* animation: cloudLoop 20s linear infinite; */
  background-image: url("../Images/clouds.61c4e000.png");
}

@keyframes cloudLoop {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: 1950px;
  }
}

.profile-section {
  width: 100%;
  height: 17%;
  float: left;
  font-weight: 500;
  font-size: xx-large;
  color: white;
  margin-left: 2%;
}

.copyright {
  width: 100%;
  height: 2%;
  float: left;
  background-color: transparent;
  display: flex;
  justify-content: center;
  font-size: small;
}
