.navbar {
  height: 60px;
}

.download-button {
  position: absolute;
  display: flex;
  align-items: center;
  right: 10px;
  font-weight: 200;
  color: white;
  margin-right: 25px;
}

.logo {
  font-weight: 500;
  color: white;
}
